body {
  background-color: $webotWhite;
}

.blue-bg {
  background-color: #7085BA;
  fill: #7085BA;
}

.white-bg {
  background-color: #F9F9F7;
  fill: #F9F9F7;
}

.centerContent {
  margin: 0 auto;
  width: 1200px !important;
}

#hamburger {
  display: none;
}

#footer {
  margin: 0 auto;
  width: 1200px;
}

#fixed-nav {
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  height: $nav-height;
  z-index: 10;
  background-image: linear-gradient(to right, #536084, #7085BA);
}

.nav-opacity {
  opacity: 0.98;
}

#desktop-space{
  margin-top: $nav-height;
}

@media screen and (max-width: 1024px) {
  #hamburger {
    display: initial;
  }

  #fixed-nav {
    display: none;
  }

  #desktop-space{
    margin-top: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .centerContent {
    width: 100% !important;
  }
  #footer {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .borderleft {
    border-left: 0px solid white;
  }

  .centerContent {
    margin: 0 auto;
  }

  #logoAbout  {
     display: none;
  }
}
